-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: buchhaltung
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `buchhaltung`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `buchhaltung` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci */;

USE `buchhaltung`;

--
-- Table structure for table `ausgangs_pakete`
--

DROP TABLE IF EXISTS `ausgangs_pakete`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ausgangs_pakete` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tracking_nummer` varchar(255) NOT NULL,
  `versanddatum` date DEFAULT NULL,
  `paketdienst` varchar(255) DEFAULT NULL,
  `sendungsstatus` varchar(50) DEFAULT 'Noch nicht los',
  PRIMARY KEY (`id`),
  UNIQUE KEY `tracking_nummer` (`tracking_nummer`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ausgangs_pakete`
--

LOCK TABLES `ausgangs_pakete` WRITE;
/*!40000 ALTER TABLE `ausgangs_pakete` DISABLE KEYS */;
INSERT INTO `ausgangs_pakete` VALUES (1,'E2E-OUT-20260308_205533','2026-03-08',NULL,'Noch nicht los');
/*!40000 ALTER TABLE `ausgangs_pakete` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `einkauf_bestellungen`
--

DROP TABLE IF EXISTS `einkauf_bestellungen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `einkauf_bestellungen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `bestellnummer` varchar(255) NOT NULL,
  `kaufdatum` date DEFAULT NULL,
  `shop_name` varchar(255) DEFAULT NULL,
  `bestell_email` varchar(255) DEFAULT NULL,
  `tracking_nummer_einkauf` varchar(255) DEFAULT NULL,
  `gesamt_ekp_brutto` decimal(10,2) DEFAULT NULL,
  `ust_satz` decimal(5,2) DEFAULT NULL,
  `rechnung_pdf_pfad` varchar(500) DEFAULT NULL,
  `rechnung_vorhanden` tinyint(1) DEFAULT 0,
  `paketdienst` varchar(255) DEFAULT NULL,
  `lieferdatum` date DEFAULT NULL,
  `sendungsstatus` varchar(50) DEFAULT 'Noch nicht los',
  `warenwert_brutto` decimal(10,2) DEFAULT 0.00,
  `versandkosten_brutto` decimal(10,2) DEFAULT 0.00,
  `nebenkosten_brutto` decimal(10,2) DEFAULT 0.00,
  `rabatt_brutto` decimal(10,2) DEFAULT 0.00,
  `einstand_gesamt_brutto` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bestellnummer` (`bestellnummer`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `einkauf_bestellungen`
--

LOCK TABLES `einkauf_bestellungen` WRITE;
/*!40000 ALTER TABLE `einkauf_bestellungen` DISABLE KEYS */;
/*!40000 ALTER TABLE `einkauf_bestellungen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produkt_bilder`
--

DROP TABLE IF EXISTS `produkt_bilder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `produkt_bilder` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `produkt_name` varchar(255) NOT NULL,
  `bild_pfad` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `produkt_name` (`produkt_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produkt_bilder`
--

LOCK TABLES `produkt_bilder` WRITE;
/*!40000 ALTER TABLE `produkt_bilder` DISABLE KEYS */;
/*!40000 ALTER TABLE `produkt_bilder` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `verkauf_tickets`
--

DROP TABLE IF EXISTS `verkauf_tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `verkauf_tickets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `ticket_name` varchar(255) NOT NULL,
  `abnehmer_typ` enum('Discord','Dritter') NOT NULL,
  `erstellungsdatum` date DEFAULT NULL,
  `zahlungsziel` varchar(255) DEFAULT NULL,
  `rechnung_an_abnehmer_verschickt` tinyint(1) DEFAULT 0,
  `geld_erhalten` tinyint(1) DEFAULT 0,
  `kaeufer` varchar(255) DEFAULT NULL,
  `pending_payload_json` longtext DEFAULT NULL,
  `matching_status` varchar(50) DEFAULT 'MATCHED',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ticket_name` (`ticket_name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `verkauf_tickets`
--

LOCK TABLES `verkauf_tickets` WRITE;
/*!40000 ALTER TABLE `verkauf_tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `verkauf_tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `waren_positionen`
--

DROP TABLE IF EXISTS `waren_positionen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `waren_positionen` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `einkauf_id` int(11) NOT NULL,
  `verkauf_ticket_id` int(11) DEFAULT NULL,
  `ausgangs_paket_id` int(11) DEFAULT NULL,
  `produkt_name` varchar(255) NOT NULL,
  `varianten_info` varchar(255) DEFAULT NULL,
  `ean` varchar(100) DEFAULT NULL,
  `menge` int(11) DEFAULT 1,
  `ekp_brutto` decimal(10,2) DEFAULT NULL,
  `vk_brutto` decimal(10,2) DEFAULT NULL,
  `marge_gesamt` decimal(10,2) DEFAULT NULL,
  `versandart` varchar(50) DEFAULT NULL,
  `seriennummern` text DEFAULT NULL,
  `status` varchar(100) DEFAULT 'WAITING_FOR_ORDER',
  `menge_geliefert` int(11) DEFAULT 0,
  `zahlungsstatus` varchar(50) DEFAULT 'Offen',
  `buchhaltungsstatus` varchar(50) DEFAULT 'Keine Rechnung',
  `bezugskosten_anteil_brutto` decimal(10,2) DEFAULT 0.00,
  `einstand_brutto` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `einkauf_id` (`einkauf_id`),
  KEY `verkauf_ticket_id` (`verkauf_ticket_id`),
  KEY `ausgangs_paket_id` (`ausgangs_paket_id`),
  CONSTRAINT `waren_positionen_ibfk_1` FOREIGN KEY (`einkauf_id`) REFERENCES `einkauf_bestellungen` (`id`) ON DELETE CASCADE,
  CONSTRAINT `waren_positionen_ibfk_2` FOREIGN KEY (`verkauf_ticket_id`) REFERENCES `verkauf_tickets` (`id`) ON DELETE SET NULL,
  CONSTRAINT `waren_positionen_ibfk_3` FOREIGN KEY (`ausgangs_paket_id`) REFERENCES `ausgangs_pakete` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `waren_positionen`
--

LOCK TABLES `waren_positionen` WRITE;
/*!40000 ALTER TABLE `waren_positionen` DISABLE KEYS */;
/*!40000 ALTER TABLE `waren_positionen` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-03-09 11:18:59
